//
   Created by ABC on 2/27/2015.

h2 EmailSend
form(action='/send_mail',method='post')
    |Email_To :
    input(type='text',name='email_to')
    br
    |Subject Name:
    input(type='text',name='sub_name')
    br
    |Message:
    input(type='text',name='message')
    br
    input(type='submit',name='send')